---
import { getTranslatedBody } from '../../lib/blog';
import type { LangCode } from '../../i18n';

interface Props {
  slug: string;
  lang?: LangCode;
}

const { slug, lang = 'en' } = Astro.props;
const body = getTranslatedBody(slug, lang);
---

{body ? <div set:html={body} /> : <p>Content not found.</p>}
